extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jacob Knecht

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My name is Jake, and I am a Full Stack JavaScript Developer. I am passionate about
            | using technology and media to create engaging web experiences that bring people
            | together and inspire them to change the world.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li jQuery
          li Node.js
          li Express
          li Sass
          li Git
          li Responsive Design
          li Linux
        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.button.expanded(href='#') LinkedIn
        a.button.expanded(href='https://github.com/JacobKnecht', target='_blank') GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
